In [1]:
import math
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split

In [2]:
data = pd.read_csv('C:/Users/HCJ/Desktop/2021_Summer/Finance_data/bank.csv')
data.iloc[:,[43,44,45,64,65,66,67,68]] = data.iloc[:,[43,44,45,64,65,66,67,68]].replace({1:0,2:1})
train_data, test_data = train_test_split(data,test_size=0.2, random_state=100)
print(train_data.shape)
print(test_data.shape)

(95628, 94)
(23907, 94)

In [3]:
X_train = train_data.iloc[:,2:]
y_train = train_data['TARGET']
X_test = test_data.iloc[:,2:]
y_test = test_data['TARGET']

In [4]:
from imblearn.over_sampling import SMOTENC
smotenc = SMOTENC(categorical_features = [42,43,44,63,64,65,66,67])
X_train_samp, y_train_samp = smotenc.fit_resample(X_train,y_train)

In [5]:
X_train_samp.head()

,J_F1_LON_RK_3M_CNT_RE,J_F1_OTHER_LON_6M_AVBL_AM_RE,J_F1_OTHER_LON_MAX_3M_AM_RE,J_SHINBO_GIBO_AM_RE,J_TOT_LON_CNT_RE,J_TOT_LON_AGG_AM_RE,J_TOT_LON_MAX_AM_RE,J_DPS_CT_BAL_AM_RE,J_TOT_DPS_1M_AVBL_AM_RE,J_TOT_DPS_6M_AVBL_AM_RE,...,P_BR_CNTC_1M_CNT_RE,P_BR_CNTC_6M_CNT_RE,P_ATM_CNTC_6M_CNT_RE,P_INT_CNTC_6M_CNT_RE,P_TOT_LON_CNT_RE,P_TOT_LON_AGG_AM_RE,P_TOT_TS_6M_CNT_RE,P_TOT_TS_6M_AM_RE,P_OB_TS_6M_CNT_RE,P_OB_TS_6M_AM_RE
0,1,2,3,1,3,3,3,2,2,3,...,1,1,1,1,1,1,1,1,1,1
1,1,1,2,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
2,3,3,3,1,1,1,1,1,1,1,...,1,1,3,2,3,3,3,3,3,3
3,2,3,3,1,1,1,1,2,2,2,...,1,1,1,2,1,1,1,1,1,1
4,3,3,4,2,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1

In [6]:
y_train_samp.head()

0    0
1    0
2    0
3    0
4    0
Name: TARGET, dtype: int64

In [7]:
train = pd.concat([y_train_samp,X_train_samp],axis=1)
test = pd.concat([y_test,X_test],axis=1)

In [8]:
train.head()

,TARGET,J_F1_LON_RK_3M_CNT_RE,J_F1_OTHER_LON_6M_AVBL_AM_RE,J_F1_OTHER_LON_MAX_3M_AM_RE,J_SHINBO_GIBO_AM_RE,J_TOT_LON_CNT_RE,J_TOT_LON_AGG_AM_RE,J_TOT_LON_MAX_AM_RE,J_DPS_CT_BAL_AM_RE,J_TOT_DPS_1M_AVBL_AM_RE,...,P_BR_CNTC_1M_CNT_RE,P_BR_CNTC_6M_CNT_RE,P_ATM_CNTC_6M_CNT_RE,P_INT_CNTC_6M_CNT_RE,P_TOT_LON_CNT_RE,P_TOT_LON_AGG_AM_RE,P_TOT_TS_6M_CNT_RE,P_TOT_TS_6M_AM_RE,P_OB_TS_6M_CNT_RE,P_OB_TS_6M_AM_RE
0,0,1,2,3,1,3,3,3,2,2,...,1,1,1,1,1,1,1,1,1,1
1,0,1,1,2,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
2,0,3,3,3,1,1,1,1,1,1,...,1,1,3,2,3,3,3,3,3,3
3,0,2,3,3,1,1,1,1,2,2,...,1,1,1,2,1,1,1,1,1,1
4,0,3,3,4,2,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1

In [9]:
test.head()

,TARGET,J_F1_LON_RK_3M_CNT_RE,J_F1_OTHER_LON_6M_AVBL_AM_RE,J_F1_OTHER_LON_MAX_3M_AM_RE,J_SHINBO_GIBO_AM_RE,J_TOT_LON_CNT_RE,J_TOT_LON_AGG_AM_RE,J_TOT_LON_MAX_AM_RE,J_DPS_CT_BAL_AM_RE,J_TOT_DPS_1M_AVBL_AM_RE,...,P_BR_CNTC_1M_CNT_RE,P_BR_CNTC_6M_CNT_RE,P_ATM_CNTC_6M_CNT_RE,P_INT_CNTC_6M_CNT_RE,P_TOT_LON_CNT_RE,P_TOT_LON_AGG_AM_RE,P_TOT_TS_6M_CNT_RE,P_TOT_TS_6M_AM_RE,P_OB_TS_6M_CNT_RE,P_OB_TS_6M_AM_RE
56753,0,1,2,3,1,1,1,1,1,1,...,1,2,3,1,3,2,3,3,3,3
76624,0,3,2,3,2,1,1,1,3,3,...,2,3,1,2,2,2,1,1,1,1
15025,0,3,3,4,2,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
21125,0,3,3,3,1,1,1,1,1,1,...,1,1,3,2,3,3,3,3,3,3
16334,0,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1

In [10]:
x = pd.concat([train,test])
x = x.reset_index(drop=True)
unwanted = x.columns[x.columns.str.startswith('ps_calc_')]
x.drop(unwanted,inplace=True,axis=1)

In [11]:
features = x.columns[2:]
categories = []
for c in features:
    trainno = len(x.loc[:train.shape[0],c].unique())
    testno = len(x.loc[train.shape[0]:,c].unique())
    print(c,trainno,testno)

J_F1_OTHER_LON_6M_AVBL_AM_RE 3 3
J_F1_OTHER_LON_MAX_3M_AM_RE 4 4
J_SHINBO_GIBO_AM_RE 2 2
J_TOT_LON_CNT_RE 4 4
J_TOT_LON_AGG_AM_RE 4 4
J_TOT_LON_MAX_AM_RE 4 4
J_DPS_CT_BAL_AM_RE 3 3
J_TOT_DPS_1M_AVBL_AM_RE 3 3
J_TOT_DPS_6M_AVBL_AM_RE 3 3
J_CORE_DPS_1M_AVBL_AM_RE 3 3
J_CORE_DPS_6M_AVBL_AM_RE 3 3
J_TOT_DPS_ACC_CNT_RE 3 3
J_NRML_DPS_ACC_CNT_RE 3 3
J_TOT_SAVING_ACC_CNT_RE 3 3
J_NRML_SAVING_ACC_CNT_RE 3 3
J_TOT_TS_1M_CNT_RE 3 3
J_TOT_TS_6M_CNT_RE 3 3
J_TOT_TS_1M_AM_RE 3 3
J_TOT_TS_6M_AM_RE 3 3
J_OB_TS_1M_CNT_RE 3 3
J_OB_TS_6M_CNT_RE 3 3
J_OB_TS_1M_AM_RE 3 3
J_OB_TS_6M_AM_RE 4 4
J_IB_TS_1M_CNT_RE 3 3
J_IB_TS_6M_CNT_RE 3 3
J_IB_TS_1M_AM_RE 3 3
J_IB_TS_6M_AM_RE 3 3
J_TOT_TS_3M_AVG_CNT_RE 3 3
J_TOT_TS_6M_AVG_CNT_RE 3 3
J_TOT_TS_3M_AVG_AM_RE 3 3
J_TOT_TS_6M_AVG_AM_RE 3 3
J_OB_TS_3M_AVG_CNT_RE 4 4
J_OB_TS_6M_AVG_CNT_RE 4 4
J_OB_TS_3M_AVG_AM_RE 3 3
J_OB_TS_6M_AVG_AM_RE 3 3
J_IB_TS_3M_AVG_CNT_RE 3 3
J_IB_TS_6M_AVG_CNT_RE 3 3
J_IB_TS_3M_AVG_AM_RE 3 3
J_IB_TS_6M_AVG_AM_RE 3 3
OBK_GRCR_AM_RE 3 3
M6L_OBK_GRCR_AM_RE 5 4
J_SIC_CD_5_RE 2 2
J_SKIL_GDCD_RE 2 2
J_MAIN_LON_BANK_CD_RE 2 2
J_CTM_ASET_TOT_AM_RE 4 4
J_LBLT_TOT_AM_RE 4 4
J_TOT_BRW_AM_RE 4 4
J_CTM_CPTS_TOT_AM_RE 4 4
J_CTM_SAL_AM_RE 4 4
J_SAL_PCS_AM_RE 4 4
J_BZ_PFT_AM_RE 4 4
J_FNC_COST_AM_RE 4 4
J_CTM_NPFT_AM_RE 4 4
J_BZ_AFACT_CSFL_AM_RE 2 2
J_PFPC_CPMT_AF_CSFL_AM_RE 2 2
J_EBIT_VAL_NV_RT_RE 4 4
J_EBITDA_VAL_NV_RT_RE 3 3
J_LBLT_RT_RE 4 4
J_FNC_COST_CMP_SALEM_RT_RE 3 3
J_BRWM_DPIN_RT_RE 4 4
J_STM_BRWM_DPIN_RT_RE 3 3
J_SALEM_BZ_PFT_RT_RE 4 3
P_PRIMARY_CUSTOM_FLG_RE 2 2
P_ACT_CUSTOM_FLG_RE 2 2
P_TOT_LON_FLG_RE 2 2
P_INBK_JNNG_FLG_RE 2 2
P_SMPB_JNNG_FLG_RE 2 2
P_TOT_DPS_1M_AVBL_AM_RE 4 4
P_TOT_DPS_6M_AVBL_AM_RE 3 3
P_CORE_DPS_1M_AVBL_AM_RE 3 3
P_CORE_DPS_6M_AVBL_AM_RE 4 4
P_TOT_DPS_ACC_CNT_RE 3 3
P_NRML_DPS_ACC_CNT_RE 3 3
P_NRML_SAVING_ACC_CNT_RE 3 3
P_TOT_SAVING_ACC_CNT_RE 3 3
P_MAX_TRN_1M_AM_RE 3 3
P_MAX_TRN_6M_AM_RE 3 3
P_AVG_TRN_1M_AM_RE 3 3
P_AVG_TRN_6M_AM_RE 4 4
P_SUM_TRN_1M_AM_RE 3 3
P_SUM_TRN_6M_AM_RE 3 3
P_BR_CNTC_1M_CNT_RE 3 3
P_BR_CNTC_6M_CNT_RE 3 3
P_ATM_CNTC_6M_CNT_RE 3 3
P_INT_CNTC_6M_CNT_RE 2 2
P_TOT_LON_CNT_RE 3 3
P_TOT_LON_AGG_AM_RE 3 3
P_TOT_TS_6M_CNT_RE 3 3
P_TOT_TS_6M_AM_RE 3 3
P_OB_TS_6M_CNT_RE 3 3
P_OB_TS_6M_AM_RE 3 3

In [12]:
x.loc[:,'J_SIC_CD_5_RE'] = pd.cut(x['J_SIC_CD_5_RE'], 50,labels=False)
x.loc[:,'J_SKIL_GDCD_RE'] = pd.cut(x['J_SKIL_GDCD_RE'], 50,labels=False)
x.loc[:,'J_MAIN_LON_BANK_CD_RE'] = pd.cut(x['J_MAIN_LON_BANK_CD_RE'], 50,labels=False)
x.loc[:,'P_PRIMARY_CUSTOM_FLG_RE'] =  pd.cut(x['P_PRIMARY_CUSTOM_FLG_RE'], 50,labels=False)
x.loc[:,'P_ACT_CUSTOM_FLG_RE'] =  pd.cut(x['P_ACT_CUSTOM_FLG_RE'], 50,labels=False)
x.loc[:,'P_TOT_LON_FLG_RE'] =  pd.cut(x['P_TOT_LON_FLG_RE'], 50,labels=False)
x.loc[:,'P_INBK_JNNG_FLG_RE'] =  pd.cut(x['P_INBK_JNNG_FLG_RE'], 50,labels=False)
x.loc[:,'P_SMPB_JNNG_FLG_RE'] =  pd.cut(x['P_SMPB_JNNG_FLG_RE'], 50,labels=False)

In [13]:
test = x.loc[train.shape[0]:].copy()
train = x.loc[:train.shape[0]].copy()

In [14]:
#Always good to shuffle for SGD type optimizers
train = train.sample(frac=1).reset_index(drop=True)

In [15]:
train.head()

,TARGET,J_F1_LON_RK_3M_CNT_RE,J_F1_OTHER_LON_6M_AVBL_AM_RE,J_F1_OTHER_LON_MAX_3M_AM_RE,J_SHINBO_GIBO_AM_RE,J_TOT_LON_CNT_RE,J_TOT_LON_AGG_AM_RE,J_TOT_LON_MAX_AM_RE,J_DPS_CT_BAL_AM_RE,J_TOT_DPS_1M_AVBL_AM_RE,...,P_BR_CNTC_1M_CNT_RE,P_BR_CNTC_6M_CNT_RE,P_ATM_CNTC_6M_CNT_RE,P_INT_CNTC_6M_CNT_RE,P_TOT_LON_CNT_RE,P_TOT_LON_AGG_AM_RE,P_TOT_TS_6M_CNT_RE,P_TOT_TS_6M_AM_RE,P_OB_TS_6M_CNT_RE,P_OB_TS_6M_AM_RE
0,1,3,3,3,2,3,3,3,2,2,...,1,1,1,1,1,1,1,1,1,1
1,0,1,2,3,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
2,0,1,1,1,1,1,1,1,1,2,...,1,1,1,1,3,2,1,1,1,1
3,0,1,1,1,1,1,1,1,1,1,...,1,1,1,1,2,2,1,1,1,1
4,1,1,1,2,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1

In [23]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 189939 entries, 0 to 189938
Data columns (total 93 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   TARGET                        189939 non-null  int64
 1   J_F1_LON_RK_3M_CNT_RE         189939 non-null  int64
 2   J_F1_OTHER_LON_6M_AVBL_AM_RE  189939 non-null  int64
 3   J_F1_OTHER_LON_MAX_3M_AM_RE   189939 non-null  int64
 4   J_SHINBO_GIBO_AM_RE           189939 non-null  int64
 5   J_TOT_LON_CNT_RE              189939 non-null  int64
 6   J_TOT_LON_AGG_AM_RE           189939 non-null  int64
 7   J_TOT_LON_MAX_AM_RE           189939 non-null  int64
 8   J_DPS_CT_BAL_AM_RE            189939 non-null  int64
 9   J_TOT_DPS_1M_AVBL_AM_RE       189939 non-null  int64
 10  J_TOT_DPS_6M_AVBL_AM_RE       189939 non-null  int64
 11  J_CORE_DPS_1M_AVBL_AM_RE      189939 non-null  int64
 12  J_CORE_DPS_6M_AVBL_AM_RE      189939 non-null  int64
 13  J_TOT_DPS_ACC_CNT_RE          189939 non-null  int64
 14  J_NRML_DPS_ACC_CNT_RE         189939 non-null  int64
 15  J_TOT_SAVING_ACC_CNT_RE       189939 non-null  int64
 16  J_NRML_SAVING_ACC_CNT_RE      189939 non-null  int64
 17  J_TOT_TS_1M_CNT_RE            189939 non-null  int64
 18  J_TOT_TS_6M_CNT_RE            189939 non-null  int64
 19  J_TOT_TS_1M_AM_RE             189939 non-null  int64
 20  J_TOT_TS_6M_AM_RE             189939 non-null  int64
 21  J_OB_TS_1M_CNT_RE             189939 non-null  int64
 22  J_OB_TS_6M_CNT_RE             189939 non-null  int64
 23  J_OB_TS_1M_AM_RE              189939 non-null  int64
 24  J_OB_TS_6M_AM_RE              189939 non-null  int64
 25  J_IB_TS_1M_CNT_RE             189939 non-null  int64
 26  J_IB_TS_6M_CNT_RE             189939 non-null  int64
 27  J_IB_TS_1M_AM_RE              189939 non-null  int64
 28  J_IB_TS_6M_AM_RE              189939 non-null  int64
 29  J_TOT_TS_3M_AVG_CNT_RE        189939 non-null  int64
 30  J_TOT_TS_6M_AVG_CNT_RE        189939 non-null  int64
 31  J_TOT_TS_3M_AVG_AM_RE         189939 non-null  int64
 32  J_TOT_TS_6M_AVG_AM_RE         189939 non-null  int64
 33  J_OB_TS_3M_AVG_CNT_RE         189939 non-null  int64
 34  J_OB_TS_6M_AVG_CNT_RE         189939 non-null  int64
 35  J_OB_TS_3M_AVG_AM_RE          189939 non-null  int64
 36  J_OB_TS_6M_AVG_AM_RE          189939 non-null  int64
 37  J_IB_TS_3M_AVG_CNT_RE         189939 non-null  int64
 38  J_IB_TS_6M_AVG_CNT_RE         189939 non-null  int64
 39  J_IB_TS_3M_AVG_AM_RE          189939 non-null  int64
 40  J_IB_TS_6M_AVG_AM_RE          189939 non-null  int64
 41  OBK_GRCR_AM_RE                189939 non-null  int64
 42  M6L_OBK_GRCR_AM_RE            189939 non-null  int64
 43  J_SIC_CD_5_RE                 189939 non-null  int64
 44  J_SKIL_GDCD_RE                189939 non-null  int64
 45  J_MAIN_LON_BANK_CD_RE         189939 non-null  int64
 46  J_CTM_ASET_TOT_AM_RE          189939 non-null  int64
 47  J_LBLT_TOT_AM_RE              189939 non-null  int64
 48  J_TOT_BRW_AM_RE               189939 non-null  int64
 49  J_CTM_CPTS_TOT_AM_RE          189939 non-null  int64
 50  J_CTM_SAL_AM_RE               189939 non-null  int64
 51  J_SAL_PCS_AM_RE               189939 non-null  int64
 52  J_BZ_PFT_AM_RE                189939 non-null  int64
 53  J_FNC_COST_AM_RE              189939 non-null  int64
 54  J_CTM_NPFT_AM_RE              189939 non-null  int64
 55  J_BZ_AFACT_CSFL_AM_RE         189939 non-null  int64
 56  J_PFPC_CPMT_AF_CSFL_AM_RE     189939 non-null  int64
 57  J_EBIT_VAL_NV_RT_RE           189939 non-null  int64
 58  J_EBITDA_VAL_NV_RT_RE         189939 non-null  int64
 59  J_LBLT_RT_RE                  189939 non-null  int64
 60  J_FNC_COST_CMP_SALEM_RT_RE    189939 non-null  int64
 61  J_BRWM_DPIN_RT_RE             189939 non-null  int64
 62  J_STM_BRWM_DPIN_RT_RE         189939 non-null  int64
 63  J_SALEM_BZ_PFT_RT_RE          189939 non-null  int64
 64  P_PRIMARY_CUSTOM_FLG_RE       189939 non-null  int64
 65  P_ACT_CUSTOM_FLG_RE           189939 non-null  int64
 66  P_TOT_LON_FLG_RE              189939 non-null  int64
 67  P_INBK_JNNG_FLG_RE            189939 non-null  int64
 68  P_SMPB_JNNG_FLG_RE            189939 non-null  int64
 69  P_TOT_DPS_1M_AVBL_AM_RE       189939 non-null  int64
 70  P_TOT_DPS_6M_AVBL_AM_RE       189939 non-null  int64
 71  P_CORE_DPS_1M_AVBL_AM_RE      189939 non-null  int64
 72  P_CORE_DPS_6M_AVBL_AM_RE      189939 non-null  int64
 73  P_TOT_DPS_ACC_CNT_RE          189939 non-null  int64
 74  P_NRML_DPS_ACC_CNT_RE         189939 non-null  int64
 75  P_NRML_SAVING_ACC_CNT_RE      189939 non-null  int64
 76  P_TOT_SAVING_ACC_CNT_RE       189939 non-null  int64
 77  P_MAX_TRN_1M_AM_RE            189939 non-null  int64
 78  P_MAX_TRN_6M_AM_RE            189939 non-null  int64
 79  P_AVG_TRN_1M_AM_RE            189939 non-null  int64
 80  P_AVG_TRN_6M_AM_RE            189939 non-null  int64
 81  P_SUM_TRN_1M_AM_RE            189939 non-null  int64
 82  P_SUM_TRN_6M_AM_RE            189939 non-null  int64
 83  P_BR_CNTC_1M_CNT_RE           189939 non-null  int64
 84  P_BR_CNTC_6M_CNT_RE           189939 non-null  int64
 85  P_ATM_CNTC_6M_CNT_RE          189939 non-null  int64
 86  P_INT_CNTC_6M_CNT_RE          189939 non-null  int64
 87  P_TOT_LON_CNT_RE              189939 non-null  int64
 88  P_TOT_LON_AGG_AM_RE           189939 non-null  int64
 89  P_TOT_TS_6M_CNT_RE            189939 non-null  int64
 90  P_TOT_TS_6M_AM_RE             189939 non-null  int64
 91  P_OB_TS_6M_CNT_RE             189939 non-null  int64
 92  P_OB_TS_6M_AM_RE              189939 non-null  int64
dtypes: int64(93)
memory usage: 134.8 MB

In [16]:
test.head()

,TARGET,J_F1_LON_RK_3M_CNT_RE,J_F1_OTHER_LON_6M_AVBL_AM_RE,J_F1_OTHER_LON_MAX_3M_AM_RE,J_SHINBO_GIBO_AM_RE,J_TOT_LON_CNT_RE,J_TOT_LON_AGG_AM_RE,J_TOT_LON_MAX_AM_RE,J_DPS_CT_BAL_AM_RE,J_TOT_DPS_1M_AVBL_AM_RE,...,P_BR_CNTC_1M_CNT_RE,P_BR_CNTC_6M_CNT_RE,P_ATM_CNTC_6M_CNT_RE,P_INT_CNTC_6M_CNT_RE,P_TOT_LON_CNT_RE,P_TOT_LON_AGG_AM_RE,P_TOT_TS_6M_CNT_RE,P_TOT_TS_6M_AM_RE,P_OB_TS_6M_CNT_RE,P_OB_TS_6M_AM_RE
189938,0,1,2,3,1,1,1,1,1,1,...,1,2,3,1,3,2,3,3,3,3
189939,0,3,2,3,2,1,1,1,3,3,...,2,3,1,2,2,2,1,1,1,1
189940,0,3,3,4,2,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
189941,0,3,3,3,1,1,1,1,1,1,...,1,1,3,2,3,3,3,3,3,3
189942,0,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1

In [26]:
categories = train.columns[[43,44,45,64,65,66,67,68]]
numerics = train.columns[[1,2,3,4,5,6,7,8,9,10,
                          11,12,13,14,15,16,17,18,19,20,
                          21,22,23,24,25,26,27,28,29,30,
                          31,32,33,34,35,36,37,38,39,40,
                          41,42,46,47,48,49,50,
                          51,52,53,54,55,56,57,58,59,60,
                          61,62,63,69,70,
                          71,72,73,74,75,76,77,78,79,80,
                          81,82,83,84,85,86,87,88,89,90,
                          91,92]]

In [22]:
categories

Index(['J_SIC_CD_5_RE', 'J_SKIL_GDCD_RE', 'J_MAIN_LON_BANK_CD_RE',
       'P_PRIMARY_CUSTOM_FLG_RE', 'P_ACT_CUSTOM_FLG_RE', 'P_TOT_LON_FLG_RE',
       'P_INBK_JNNG_FLG_RE', 'P_SMPB_JNNG_FLG_RE'],
      dtype='object')

In [27]:
numerics

Index(['J_F1_LON_RK_3M_CNT_RE', 'J_F1_OTHER_LON_6M_AVBL_AM_RE',
       'J_F1_OTHER_LON_MAX_3M_AM_RE', 'J_SHINBO_GIBO_AM_RE',
       'J_TOT_LON_CNT_RE', 'J_TOT_LON_AGG_AM_RE', 'J_TOT_LON_MAX_AM_RE',
       'J_DPS_CT_BAL_AM_RE', 'J_TOT_DPS_1M_AVBL_AM_RE',
       'J_TOT_DPS_6M_AVBL_AM_RE', 'J_CORE_DPS_1M_AVBL_AM_RE',
       'J_CORE_DPS_6M_AVBL_AM_RE', 'J_TOT_DPS_ACC_CNT_RE',
       'J_NRML_DPS_ACC_CNT_RE', 'J_TOT_SAVING_ACC_CNT_RE',
       'J_NRML_SAVING_ACC_CNT_RE', 'J_TOT_TS_1M_CNT_RE', 'J_TOT_TS_6M_CNT_RE',
       'J_TOT_TS_1M_AM_RE', 'J_TOT_TS_6M_AM_RE', 'J_OB_TS_1M_CNT_RE',
       'J_OB_TS_6M_CNT_RE', 'J_OB_TS_1M_AM_RE', 'J_OB_TS_6M_AM_RE',
       'J_IB_TS_1M_CNT_RE', 'J_IB_TS_6M_CNT_RE', 'J_IB_TS_1M_AM_RE',
       'J_IB_TS_6M_AM_RE', 'J_TOT_TS_3M_AVG_CNT_RE', 'J_TOT_TS_6M_AVG_CNT_RE',
       'J_TOT_TS_3M_AVG_AM_RE', 'J_TOT_TS_6M_AVG_AM_RE',
       'J_OB_TS_3M_AVG_CNT_RE', 'J_OB_TS_6M_AVG_CNT_RE',
       'J_OB_TS_3M_AVG_AM_RE', 'J_OB_TS_6M_AVG_AM_RE', 'J_IB_TS_3M_AVG_CNT_RE',
       'J_IB_TS_6M_AVG_CNT_RE', 'J_IB_TS_3M_AVG_AM_RE', 'J_IB_TS_6M_AVG_AM_RE',
       'OBK_GRCR_AM_RE', 'M6L_OBK_GRCR_AM_RE', 'J_CTM_ASET_TOT_AM_RE',
       'J_LBLT_TOT_AM_RE', 'J_TOT_BRW_AM_RE', 'J_CTM_CPTS_TOT_AM_RE',
       'J_CTM_SAL_AM_RE', 'J_SAL_PCS_AM_RE', 'J_BZ_PFT_AM_RE',
       'J_FNC_COST_AM_RE', 'J_CTM_NPFT_AM_RE', 'J_BZ_AFACT_CSFL_AM_RE',
       'J_PFPC_CPMT_AF_CSFL_AM_RE', 'J_EBIT_VAL_NV_RT_RE',
       'J_EBITDA_VAL_NV_RT_RE', 'J_LBLT_RT_RE', 'J_FNC_COST_CMP_SALEM_RT_RE',
       'J_BRWM_DPIN_RT_RE', 'J_STM_BRWM_DPIN_RT_RE', 'J_SALEM_BZ_PFT_RT_RE',
       'P_TOT_DPS_1M_AVBL_AM_RE', 'P_TOT_DPS_6M_AVBL_AM_RE',
       'P_CORE_DPS_1M_AVBL_AM_RE', 'P_CORE_DPS_6M_AVBL_AM_RE',
       'P_TOT_DPS_ACC_CNT_RE', 'P_NRML_DPS_ACC_CNT_RE',
       'P_NRML_SAVING_ACC_CNT_RE', 'P_TOT_SAVING_ACC_CNT_RE',
       'P_MAX_TRN_1M_AM_RE', 'P_MAX_TRN_6M_AM_RE', 'P_AVG_TRN_1M_AM_RE',
       'P_AVG_TRN_6M_AM_RE', 'P_SUM_TRN_1M_AM_RE', 'P_SUM_TRN_6M_AM_RE',
       'P_BR_CNTC_1M_CNT_RE', 'P_BR_CNTC_6M_CNT_RE', 'P_ATM_CNTC_6M_CNT_RE',
       'P_INT_CNTC_6M_CNT_RE', 'P_TOT_LON_CNT_RE', 'P_TOT_LON_AGG_AM_RE',
       'P_TOT_TS_6M_CNT_RE', 'P_TOT_TS_6M_AM_RE', 'P_OB_TS_6M_CNT_RE',
       'P_OB_TS_6M_AM_RE'],
      dtype='object')

In [28]:
currentcode = len(numerics)
catdict = {}
catcodes = {}
for x in numerics:
    catdict[x] = 0
for x in categories:
    catdict[x] = 1

noofrows = train.shape[0]
noofcolumns = len(features)
with open("alltrainffm.txt", "w") as text_file:
    for n, r in enumerate(range(noofrows)):
        if((n%100000)==0):
            print('Row',n)
        datastring = ""
        datarow = train.iloc[r].to_dict()
        datastring += str(int(datarow['TARGET']))


        for i, x in enumerate(catdict.keys()):
            if(catdict[x]==0):
                datastring = datastring + " "+str(i)+":"+ str(i)+":"+ str(datarow[x])
            else:
                if(x not in catcodes):
                    catcodes[x] = {}
                    currentcode +=1
                    catcodes[x][datarow[x]] = currentcode
                elif(datarow[x] not in catcodes[x]):
                    currentcode +=1
                    catcodes[x][datarow[x]] = currentcode

                code = catcodes[x][datarow[x]]
                datastring = datastring + " "+str(i)+":"+ str(int(code))+":1"
        datastring += '\n'
        text_file.write(datastring)
        
noofrows = test.shape[0]
noofcolumns = len(features)
with open("alltestffm.txt", "w") as text_file:
    for n, r in enumerate(range(noofrows)):
        if((n%100000)==0):
            print('Row',n)
        datastring = ""
        datarow = test.iloc[r].to_dict()
        datastring += str(int(datarow['TARGET']))


        for i, x in enumerate(catdict.keys()):
            if(catdict[x]==0):
                datastring = datastring + " "+str(i)+":"+ str(i)+":"+ str(datarow[x])
            else:
                if(x not in catcodes):
                    catcodes[x] = {}
                    currentcode +=1
                    catcodes[x][datarow[x]] = currentcode
                elif(datarow[x] not in catcodes[x]):
                    currentcode +=1
                    catcodes[x][datarow[x]] = currentcode

                code = catcodes[x][datarow[x]]
                datastring = datastring + " "+str(i)+":"+ str(int(code))+":1"
        datastring += '\n'
        text_file.write(datastring)

Row 0
Row 100000
Row 0

In [29]:
import xlearn as xl

# Training task
ffm_model = xl.create_ffm()                # Use field-aware factorization machine (ffm)
ffm_model.setTrain("./alltrainffm.txt")    # Set the path of training dataset
ffm_model.setValidate("./alltestffm.txt")  # Set the path of validation dataset

# Parameters:
#  0. task: binary classification
#  1. learning rate: 0.2
#  2. regular lambda: 0.002
#  3. evaluation metric: accuracy
param = {'task':'binary', 'lr':0.03, 'lambda':0.0001, 'metric':'acc'}

# Start to train
# The trained model will be stored in model.out
ffm_model.fit(param, './model.out')

# Prediction task
ffm_model.setTest("./alltestffm.txt")  # Set the path of test dataset
ffm_model.setSign()                 # Convert output to 0-1

# Start to predict
# The output result will be stored in output.txt
Y_pred1 = ffm_model.predict("./model.out")

In [30]:
print(Y_pred1)

[0. 1. 0. ... 0. 0. 1.]

In [31]:
#성능 평가
from sklearn import metrics
ffm_smote_accuracy=metrics.accuracy_score(y_test,Y_pred1)
ffm_smote_score=metrics.precision_recall_fscore_support(y_test,Y_pred1)

print(ffm_smote_accuracy)
print(pd.DataFrame(ffm_smote_score))

0.8572384657213369
              0           1
0      0.998383    0.035113
1      0.857690    0.788462
2      0.922704    0.067231
3  23751.000000  156.000000