In [1]:
import math
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split

In [2]:
data = pd.read_csv('C:/Users/HCJ/Desktop/2021_Summer/Finance_data/bank.csv')
train_data, test_data = train_test_split(data,test_size=0.2, random_state=100)
print(train_data.shape)
print(test_data.shape)

(95628, 94)
(23907, 94)

In [3]:
X_train = train_data.iloc[:,2:]
y_train = train_data['TARGET']
X_test = test_data.iloc[:,2:]
y_test = test_data['TARGET']

In [6]:
from imblearn.over_sampling import SMOTENC
smotenc = SMOTENC(categorical_features = [42,43,44,63,64,65,66,67])
X_train_samp, y_train_samp = smotenc.fit_resample(X_train,y_train)

In [7]:
X_train_samp.head()

,J_F1_LON_RK_3M_CNT_RE,J_F1_OTHER_LON_6M_AVBL_AM_RE,J_F1_OTHER_LON_MAX_3M_AM_RE,J_SHINBO_GIBO_AM_RE,J_TOT_LON_CNT_RE,J_TOT_LON_AGG_AM_RE,J_TOT_LON_MAX_AM_RE,J_DPS_CT_BAL_AM_RE,J_TOT_DPS_1M_AVBL_AM_RE,J_TOT_DPS_6M_AVBL_AM_RE,...,P_BR_CNTC_1M_CNT_RE,P_BR_CNTC_6M_CNT_RE,P_ATM_CNTC_6M_CNT_RE,P_INT_CNTC_6M_CNT_RE,P_TOT_LON_CNT_RE,P_TOT_LON_AGG_AM_RE,P_TOT_TS_6M_CNT_RE,P_TOT_TS_6M_AM_RE,P_OB_TS_6M_CNT_RE,P_OB_TS_6M_AM_RE
0,1,2,3,1,3,3,3,2,2,3,...,1,1,1,1,1,1,1,1,1,1
1,1,1,2,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
2,3,3,3,1,1,1,1,1,1,1,...,1,1,3,2,3,3,3,3,3,3
3,2,3,3,1,1,1,1,2,2,2,...,1,1,1,2,1,1,1,1,1,1
4,3,3,4,2,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1

In [8]:
y_train_samp.head()

0    0
1    0
2    0
3    0
4    0
Name: TARGET, dtype: int64

In [9]:
train = pd.concat([y_train_samp,X_train_samp],axis=1)
test = pd.concat([y_test,X_test],axis=1)

In [10]:
train.head()

,TARGET,J_F1_LON_RK_3M_CNT_RE,J_F1_OTHER_LON_6M_AVBL_AM_RE,J_F1_OTHER_LON_MAX_3M_AM_RE,J_SHINBO_GIBO_AM_RE,J_TOT_LON_CNT_RE,J_TOT_LON_AGG_AM_RE,J_TOT_LON_MAX_AM_RE,J_DPS_CT_BAL_AM_RE,J_TOT_DPS_1M_AVBL_AM_RE,...,P_BR_CNTC_1M_CNT_RE,P_BR_CNTC_6M_CNT_RE,P_ATM_CNTC_6M_CNT_RE,P_INT_CNTC_6M_CNT_RE,P_TOT_LON_CNT_RE,P_TOT_LON_AGG_AM_RE,P_TOT_TS_6M_CNT_RE,P_TOT_TS_6M_AM_RE,P_OB_TS_6M_CNT_RE,P_OB_TS_6M_AM_RE
0,0,1,2,3,1,3,3,3,2,2,...,1,1,1,1,1,1,1,1,1,1
1,0,1,1,2,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
2,0,3,3,3,1,1,1,1,1,1,...,1,1,3,2,3,3,3,3,3,3
3,0,2,3,3,1,1,1,1,2,2,...,1,1,1,2,1,1,1,1,1,1
4,0,3,3,4,2,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1

In [11]:
test.head()

,TARGET,J_F1_LON_RK_3M_CNT_RE,J_F1_OTHER_LON_6M_AVBL_AM_RE,J_F1_OTHER_LON_MAX_3M_AM_RE,J_SHINBO_GIBO_AM_RE,J_TOT_LON_CNT_RE,J_TOT_LON_AGG_AM_RE,J_TOT_LON_MAX_AM_RE,J_DPS_CT_BAL_AM_RE,J_TOT_DPS_1M_AVBL_AM_RE,...,P_BR_CNTC_1M_CNT_RE,P_BR_CNTC_6M_CNT_RE,P_ATM_CNTC_6M_CNT_RE,P_INT_CNTC_6M_CNT_RE,P_TOT_LON_CNT_RE,P_TOT_LON_AGG_AM_RE,P_TOT_TS_6M_CNT_RE,P_TOT_TS_6M_AM_RE,P_OB_TS_6M_CNT_RE,P_OB_TS_6M_AM_RE
56753,0,1,2,3,1,1,1,1,1,1,...,1,2,3,1,3,2,3,3,3,3
76624,0,3,2,3,2,1,1,1,3,3,...,2,3,1,2,2,2,1,1,1,1
15025,0,3,3,4,2,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
21125,0,3,3,3,1,1,1,1,1,1,...,1,1,3,2,3,3,3,3,3,3
16334,0,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1

In [12]:
x = pd.concat([train,test])
x = x.reset_index(drop=True)
unwanted = x.columns[x.columns.str.startswith('ps_calc_')]
x.drop(unwanted,inplace=True,axis=1)

In [13]:
features = x.columns[2:]
categories = []
for c in features:
    trainno = len(x.loc[:train.shape[0],c].unique())
    testno = len(x.loc[train.shape[0]:,c].unique())
    print(c,trainno,testno)

J_F1_OTHER_LON_6M_AVBL_AM_RE 3 3
J_F1_OTHER_LON_MAX_3M_AM_RE 4 4
J_SHINBO_GIBO_AM_RE 2 2
J_TOT_LON_CNT_RE 4 4
J_TOT_LON_AGG_AM_RE 4 4
J_TOT_LON_MAX_AM_RE 4 4
J_DPS_CT_BAL_AM_RE 3 3
J_TOT_DPS_1M_AVBL_AM_RE 3 3
J_TOT_DPS_6M_AVBL_AM_RE 3 3
J_CORE_DPS_1M_AVBL_AM_RE 3 3
J_CORE_DPS_6M_AVBL_AM_RE 3 3
J_TOT_DPS_ACC_CNT_RE 3 3
J_NRML_DPS_ACC_CNT_RE 3 3
J_TOT_SAVING_ACC_CNT_RE 3 3
J_NRML_SAVING_ACC_CNT_RE 3 3
J_TOT_TS_1M_CNT_RE 3 3
J_TOT_TS_6M_CNT_RE 3 3
J_TOT_TS_1M_AM_RE 3 3
J_TOT_TS_6M_AM_RE 3 3
J_OB_TS_1M_CNT_RE 3 3
J_OB_TS_6M_CNT_RE 3 3
J_OB_TS_1M_AM_RE 3 3
J_OB_TS_6M_AM_RE 4 4
J_IB_TS_1M_CNT_RE 3 3
J_IB_TS_6M_CNT_RE 3 3
J_IB_TS_1M_AM_RE 3 3
J_IB_TS_6M_AM_RE 3 3
J_TOT_TS_3M_AVG_CNT_RE 3 3
J_TOT_TS_6M_AVG_CNT_RE 3 3
J_TOT_TS_3M_AVG_AM_RE 3 3
J_TOT_TS_6M_AVG_AM_RE 3 3
J_OB_TS_3M_AVG_CNT_RE 4 4
J_OB_TS_6M_AVG_CNT_RE 4 4
J_OB_TS_3M_AVG_AM_RE 3 3
J_OB_TS_6M_AVG_AM_RE 3 3
J_IB_TS_3M_AVG_CNT_RE 3 3
J_IB_TS_6M_AVG_CNT_RE 3 3
J_IB_TS_3M_AVG_AM_RE 3 3
J_IB_TS_6M_AVG_AM_RE 3 3
OBK_GRCR_AM_RE 3 3
M6L_OBK_GRCR_AM_RE 4 4
J_SIC_CD_5_RE 2 2
J_SKIL_GDCD_RE 2 2
J_MAIN_LON_BANK_CD_RE 2 2
J_CTM_ASET_TOT_AM_RE 4 4
J_LBLT_TOT_AM_RE 4 4
J_TOT_BRW_AM_RE 4 4
J_CTM_CPTS_TOT_AM_RE 4 4
J_CTM_SAL_AM_RE 4 4
J_SAL_PCS_AM_RE 4 4
J_BZ_PFT_AM_RE 4 4
J_FNC_COST_AM_RE 4 4
J_CTM_NPFT_AM_RE 4 4
J_BZ_AFACT_CSFL_AM_RE 2 2
J_PFPC_CPMT_AF_CSFL_AM_RE 2 2
J_EBIT_VAL_NV_RT_RE 4 4
J_EBITDA_VAL_NV_RT_RE 3 3
J_LBLT_RT_RE 4 4
J_FNC_COST_CMP_SALEM_RT_RE 3 3
J_BRWM_DPIN_RT_RE 4 4
J_STM_BRWM_DPIN_RT_RE 3 3
J_SALEM_BZ_PFT_RT_RE 3 3
P_PRIMARY_CUSTOM_FLG_RE 2 2
P_ACT_CUSTOM_FLG_RE 2 2
P_TOT_LON_FLG_RE 2 2
P_INBK_JNNG_FLG_RE 2 2
P_SMPB_JNNG_FLG_RE 2 2
P_TOT_DPS_1M_AVBL_AM_RE 4 4
P_TOT_DPS_6M_AVBL_AM_RE 3 3
P_CORE_DPS_1M_AVBL_AM_RE 3 3
P_CORE_DPS_6M_AVBL_AM_RE 4 4
P_TOT_DPS_ACC_CNT_RE 3 3
P_NRML_DPS_ACC_CNT_RE 3 3
P_NRML_SAVING_ACC_CNT_RE 3 3
P_TOT_SAVING_ACC_CNT_RE 3 3
P_MAX_TRN_1M_AM_RE 3 3
P_MAX_TRN_6M_AM_RE 3 3
P_AVG_TRN_1M_AM_RE 3 3
P_AVG_TRN_6M_AM_RE 4 4
P_SUM_TRN_1M_AM_RE 3 3
P_SUM_TRN_6M_AM_RE 3 3
P_BR_CNTC_1M_CNT_RE 3 3
P_BR_CNTC_6M_CNT_RE 3 3
P_ATM_CNTC_6M_CNT_RE 3 3
P_INT_CNTC_6M_CNT_RE 2 2
P_TOT_LON_CNT_RE 3 3
P_TOT_LON_AGG_AM_RE 3 3
P_TOT_TS_6M_CNT_RE 3 3
P_TOT_TS_6M_AM_RE 3 3
P_OB_TS_6M_CNT_RE 3 3
P_OB_TS_6M_AM_RE 3 3

In [14]:
x.loc[:,'J_SIC_CD_5_RE'] = pd.cut(x['J_SIC_CD_5_RE'], 50,labels=False)
x.loc[:,'J_SKIL_GDCD_RE'] = pd.cut(x['J_SKIL_GDCD_RE'], 50,labels=False)
x.loc[:,'J_MAIN_LON_BANK_CD_RE'] = pd.cut(x['J_MAIN_LON_BANK_CD_RE'], 50,labels=False)
x.loc[:,'P_PRIMARY_CUSTOM_FLG_RE'] =  pd.cut(x['P_PRIMARY_CUSTOM_FLG_RE'], 50,labels=False)
x.loc[:,'P_ACT_CUSTOM_FLG_RE'] =  pd.cut(x['P_ACT_CUSTOM_FLG_RE'], 50,labels=False)
x.loc[:,'P_TOT_LON_FLG_RE'] =  pd.cut(x['P_TOT_LON_FLG_RE'], 50,labels=False)
x.loc[:,'P_INBK_JNNG_FLG_RE'] =  pd.cut(x['P_INBK_JNNG_FLG_RE'], 50,labels=False)
x.loc[:,'P_SMPB_JNNG_FLG_RE'] =  pd.cut(x['P_SMPB_JNNG_FLG_RE'], 50,labels=False)

In [15]:
test = x.loc[train.shape[0]:].copy()
train = x.loc[:train.shape[0]].copy()

In [16]:
#Always good to shuffle for SGD type optimizers
train = train.sample(frac=1).reset_index(drop=True)

In [18]:
train.head()

,TARGET,J_F1_LON_RK_3M_CNT_RE,J_F1_OTHER_LON_6M_AVBL_AM_RE,J_F1_OTHER_LON_MAX_3M_AM_RE,J_SHINBO_GIBO_AM_RE,J_TOT_LON_CNT_RE,J_TOT_LON_AGG_AM_RE,J_TOT_LON_MAX_AM_RE,J_DPS_CT_BAL_AM_RE,J_TOT_DPS_1M_AVBL_AM_RE,...,P_BR_CNTC_1M_CNT_RE,P_BR_CNTC_6M_CNT_RE,P_ATM_CNTC_6M_CNT_RE,P_INT_CNTC_6M_CNT_RE,P_TOT_LON_CNT_RE,P_TOT_LON_AGG_AM_RE,P_TOT_TS_6M_CNT_RE,P_TOT_TS_6M_AM_RE,P_OB_TS_6M_CNT_RE,P_OB_TS_6M_AM_RE
0,1,2,3,3,1,4,4,4,1,1,...,1,1,1,1,1,1,1,1,1,1
1,0,3,3,4,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
2,1,3,3,4,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
3,1,2,1,1,1,2,2,2,3,3,...,1,1,1,2,1,1,3,3,3,3
4,1,2,2,3,1,1,1,1,2,2,...,1,1,1,1,2,2,1,1,1,1

In [19]:
test.head()

,TARGET,J_F1_LON_RK_3M_CNT_RE,J_F1_OTHER_LON_6M_AVBL_AM_RE,J_F1_OTHER_LON_MAX_3M_AM_RE,J_SHINBO_GIBO_AM_RE,J_TOT_LON_CNT_RE,J_TOT_LON_AGG_AM_RE,J_TOT_LON_MAX_AM_RE,J_DPS_CT_BAL_AM_RE,J_TOT_DPS_1M_AVBL_AM_RE,...,P_BR_CNTC_1M_CNT_RE,P_BR_CNTC_6M_CNT_RE,P_ATM_CNTC_6M_CNT_RE,P_INT_CNTC_6M_CNT_RE,P_TOT_LON_CNT_RE,P_TOT_LON_AGG_AM_RE,P_TOT_TS_6M_CNT_RE,P_TOT_TS_6M_AM_RE,P_OB_TS_6M_CNT_RE,P_OB_TS_6M_AM_RE
189938,0,1,2,3,1,1,1,1,1,1,...,1,2,3,1,3,2,3,3,3,3
189939,0,3,2,3,2,1,1,1,3,3,...,2,3,1,2,2,2,1,1,1,1
189940,0,3,3,4,2,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
189941,0,3,3,3,1,1,1,1,1,1,...,1,1,3,2,3,3,3,3,3,3
189942,0,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1

In [20]:
categories = train.columns[1:]
numerics = []

In [21]:
currentcode = len(numerics)
catdict = {}
catcodes = {}
for x in numerics:
    catdict[x] = 0
for x in categories:
    catdict[x] = 1

noofrows = train.shape[0]
noofcolumns = len(features)
with open("alltrainffm.txt", "w") as text_file:
    for n, r in enumerate(range(noofrows)):
        if((n%100000)==0):
            print('Row',n)
        datastring = ""
        datarow = train.iloc[r].to_dict()
        datastring += str(int(datarow['TARGET']))


        for i, x in enumerate(catdict.keys()):
            if(catdict[x]==0):
                datastring = datastring + " "+str(i)+":"+ str(i)+":"+ str(datarow[x])
            else:
                if(x not in catcodes):
                    catcodes[x] = {}
                    currentcode +=1
                    catcodes[x][datarow[x]] = currentcode
                elif(datarow[x] not in catcodes[x]):
                    currentcode +=1
                    catcodes[x][datarow[x]] = currentcode

                code = catcodes[x][datarow[x]]
                datastring = datastring + " "+str(i)+":"+ str(int(code))+":1"
        datastring += '\n'
        text_file.write(datastring)
        
noofrows = test.shape[0]
noofcolumns = len(features)
with open("alltestffm.txt", "w") as text_file:
    for n, r in enumerate(range(noofrows)):
        if((n%100000)==0):
            print('Row',n)
        datastring = ""
        datarow = test.iloc[r].to_dict()
        datastring += str(int(datarow['TARGET']))


        for i, x in enumerate(catdict.keys()):
            if(catdict[x]==0):
                datastring = datastring + " "+str(i)+":"+ str(i)+":"+ str(datarow[x])
            else:
                if(x not in catcodes):
                    catcodes[x] = {}
                    currentcode +=1
                    catcodes[x][datarow[x]] = currentcode
                elif(datarow[x] not in catcodes[x]):
                    currentcode +=1
                    catcodes[x][datarow[x]] = currentcode

                code = catcodes[x][datarow[x]]
                datastring = datastring + " "+str(i)+":"+ str(int(code))+":1"
        datastring += '\n'
        text_file.write(datastring)

Row 0
Row 100000
Row 0

In [31]:
import xlearn as xl

# Training task
ffm_model = xl.create_ffm()                # Use field-aware factorization machine (ffm)
ffm_model.setTrain("./alltrainffm.txt")    # Set the path of training dataset
ffm_model.setValidate("./alltestffm.txt")  # Set the path of validation dataset

# Parameters:
#  0. task: binary classification
#  1. learning rate: 0.2
#  2. regular lambda: 0.002
#  3. evaluation metric: accuracy
param = {'task':'binary', 'lr':0.03, 'lambda':0.0001, 'metric':'acc'}

# Start to train
# The trained model will be stored in model.out
ffm_model.fit(param, './model.out')

# Prediction task
ffm_model.setTest("./alltestffm.txt")  # Set the path of test dataset
ffm_model.setSign()                 # Convert output to 0-1

# Start to predict
# The output result will be stored in output.txt
Y_pred1 = ffm_model.predict("./model.out")

In [32]:
print(Y_pred1)

[0. 1. 0. ... 0. 0. 1.]

In [33]:
#성능 평가
from sklearn import metrics
ffm_smote_accuracy=metrics.accuracy_score(y_test,Y_pred1)
ffm_smote_score=metrics.precision_recall_fscore_support(y_test,Y_pred1)

print(ffm_smote_accuracy)
print(pd.DataFrame(ffm_smote_score))

0.8745973982515581
              0           1
0      0.998415    0.039832
1      0.875163    0.788462
2      0.932735    0.075832
3  23751.000000  156.000000